<div class="row">
    <div class="col-xs-12">
        <img [src]="patient.imagePath" alt="{{patient.name}}" class="img-responsive" style="max-height: 300px;">
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h1>{{patient.name}}</h1>
    </div>
</div>
<div class="row" style="margin-bottom: 20px;">
    <div class="col-xs-12">
        <div class="btn-group">
            <button class="btn btn-warning" (click)="onGoBack()">Go back to archive</button>
        </div>
    </div>
</div>

<div style="background-color: #ffffff; margin-bottom: 10px; padding: 10px; border-radius: 8px;">
    <div class="row">
        <div class="col-xs-12">
            <p>Age: {{patient.age}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>Sex: {{patient.sex}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>Blood type: {{patient.bloodType}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>Desc: {{patient.description}}</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li *ngFor="let med of patient.medicine" class="list-group-item" style="margin-bottom: 10px;">
                {{med.name | uppercase}} - {{med.amount}} - {{med.frequency | titlecase}}
            </li>
        </ul>
    </div>
</div>