<nav class="navbar navbar-dark" style="background-color: #021707bb;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a routerLink="/" class="navbar-brand">Patients database</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active">
                    <a routerLink="/patients" *ngIf="isAuthenticated">Patients 🐴</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/auth" *ngIf="!isAuthenticated">Authenticate 🛡</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/medicine-needs-list" *ngIf="isAuthenticated">Needed Medicine 💊</a>
                </li>
                <li routerLinkActive="active" class="urgent">
                    <a routerLink="/important-notes" *ngIf="isAuthenticated">❗ Urgent ❗</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/archive" *ngIf="isAuthenticated">Archive 📂</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a style="cursor: pointer;" *ngIf="isAuthenticated" (click)="onlogout()">Logout</a>
                </li>
                <li class="dropdown" appDropdown *ngIf="isAuthenticated">
                    <a style="cursor: pointer;" class="dropdown-toggle" role="button">Manage <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a style="cursor: pointer;" (click)="onSaveData()">Save Data</a>
                        </li>
                        <li>
                            <a style="cursor: pointer;" (click)="onFetchData()">Fetch Data</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>