<a style="cursor: pointer;" class="list-group-item clearfix" [routerLink]="[index]" routerLinkActive="active">
    <div class="pull-left">
        <h4 class="list-group-item-heading">{{patient.name}}</h4>
        <p class="list-group-item-text"> {{patient.age}} years old</p>
        <p class="list-group-item-text"> {{patient.description}} </p>

    </div>
    <span class="pull-right">
        <img [src]="patient.imagePath" alt="{{patient.name}}" class="img-responsive" style="max-height: 50px;">
    </span>
</a>