<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="patientForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-xs-12">
                    <div class="group-btn">
                        <button class="btn btn-success" style="margin: 10px;" type="submit">Save</button>
                        <button class="btn btn-danger" style="margin: 10px;" type="button"
                            (click)="onCancel()">Cancel</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="name">Patient name:</label>
                            <input type="text" class="form-control" id="name" formControlName="name">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="age">Age:</label>
                            <input type="number" class="form-control" id="age" formControlName="age">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="sex">Sex:</label>
                            <select id="sex" class="form-control" formControlName="sex">
                                <option value="M">M</option>
                                <option value="F">F</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="description">Description:</label>
                            <textarea type="text" class="form-control" id="description"
                                formControlName="description"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="imagePath">ImagePath:</label>
                            <input type="text" class="form-control" id="imagePath" formControlName="imagePath">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="bloodType">Blood type:</label>
                            <select id="bloodType" class="form-control" formControlName="bloodType">
                                <option value="undefined" selected>Undefined</option>
                                <option value="A-">A-</option>
                                <option value="A+">A+</option>
                                <option value="B-">B-</option>
                                <option value="B+">B+</option>
                                <option value="AB-">AB-</option>
                                <option value="AB+">AB+</option>
                                <option value="0-">0-</option>
                                <option value="0+">0+</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12" formArrayName="medicine">
                        <div class="row" *ngFor="let medCtrl of medsControls; let i = index" [formGroupName]="i"
                            style="margin-bottom: 10px;">
                            <div class="col-xs-4">
                                <input type="text" class="form-control" formControlName="name">
                            </div>
                            <div class="col-xs-2">
                                <input type="text" class="form-control" formControlName="amount">
                            </div>
                            <div class="col-xs-4">
                                <input type="text" class="form-control" formControlName="frequency">
                            </div>
                            <div class="col-xs-2">
                                <button type="button" class="btn btn-danger" (click)="onDeleteMed(i)">X</button>
                            </div>
                        </div>
                    </div>
                </div>
                <hr style="border-top: 1px solid black;">
                <div class="row">
                    <div class="col-xs-12">
                        <button type="button" class="btn btn-success" (click)="onAddNewMed()">Add Medicine</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>