<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="row">
                <div class="col-xs-12">
                    <div class="group-btn">
                        <button class="btn btn-success" style="margin: 10px;" type="submit">Save</button>
                        <button class="btn btn-danger" style="margin: 10px;" type="button"
                            (click)="onCancel()">Cancel</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="name">Patient name:</label>
                            <input type="text" class="form-control" id="name" ngModel name="name">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="age">Age:</label>
                            <input type="number" class="form-control" id="age" ngModel name="age">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="sex">Sex:</label>
                            <select id="sex" class="form-control" ngModel name="sex">
                                <option value="m">M</option>
                                <option value="f">F</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="desc">Description:</label>
                            <textarea type="text" class="form-control" id="desc" ngModel name="desc"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="imagePath">ImagePath:</label>
                            <input type="text" class="form-control" id="imagePath" ngModel name="imagePath">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="bloodType">Blood type:</label>
                            <select id="bloodType" class="form-control" ngModel name="bloodType">
                                <option value="undefined" selected>Undefined</option>
                                <option value="a-minus">A-</option>
                                <option value="a-plus">A+</option>
                                <option value="b-plus">B-</option>
                                <option value="b-plus">B+</option>
                                <option value="ab-minus">AB-</option>
                                <option value="ab-plus">AB+</option>
                                <option value="zero-minus">0-</option>
                                <option value="zero-plus">0+</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-4">
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-xs-2">
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-xs-4">
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-xs-2">
                                <button type="button" class="btn btn-danger">X</button>
                            </div>
                        </div>
                    </div>
                </div>
                <hr style="border-top: 1px solid black;">
                <div class="row">
                    <div class="col-xs-12">
                        <button type="button" class="btn btn-success">Add Medicine</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>