<div class="row">
    <div class="col-xs-12">
        <img src="" alt="" class="img-responsive">
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h1>Recipe Name</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
            <button class="btn btn-primary dropdown-toggle" type="button">Options <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li href="#" class="dropdown-item">Add medication to need list</li>
                <li href="#" class="dropdown-item">Edit patient</li>
                <li href="#" class="dropdown-item">Delete patient</li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <p>Description</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p>Medication</p>
    </div>
</div>